<div class="projects-list">
    <div class="project-card">
        <img src="project-image.jpg" alt="Project title">
        <h3>Project Title</h3>
        <p class="duration">Duration: Jan 2023 - Mar 2023</p>
        <p class="description">Brief description of the project goes here.</p>
    </div>
    
    <div class="project-card">
        <img src="project-image.jpg" alt="Project title">
        <h3>Project Title</h3>
        <p class="duration">Duration: Jan 2023 - Mar 2023</p>
        <p class="description">Brief description of the project goes here.</p>
    </div>
</div>