<div class="projects-list">
    <h2>Projects</h2>
    <div class="project-card">
        <img src="project-image.jpg" alt="Project title">
        <h3>2023 FTC Robot</h3>
        <p class="duration">Duration: Sep 2022 - Apr 2023</p>
        <p class="description">Brief description of the project goes here.</p>
    </div>

    <div class="project-card">
        <img src="project-image.jpg" alt="Project title">
        <h3>2022 FTC Robot</h3>
        <p class="duration">Duration: Sep 2021 - Apr 2022</p>
        <p class="description">Brief description of the project goes here.</p>
    </div>
    
    <div class="project-card">
        <img src="project-image.jpg" alt="Project title">
        <h3>2021 FTC Robot</h3>
        <p class="duration">Duration: Sep 2020 - Apr 2021</p>
        <p class="description">Brief description of the project goes here.</p>
    </div>

    <div class="project-card">
        <img src="project-image.jpg" alt="Project title">
        <h3>2020 FTC Robot</h3>
        <p class="duration">Duration: Sep 2019 - Apr 2020</p>
        <p class="description">Brief description of the project goes here.</p>
    </div>

    <div class="project-card">
        <img src="project-image.jpg" alt="Project title">
        <h3>2019 FTC Robot</h3>
        <p class="duration">Duration: Sep 2018 - Apr 2019</p>
        <p class="description">Brief description of the project goes here.</p>
    </div>
</div>