---
---

.container-lg {
  max-width: 100% !important;
  padding: 0 2rem !important;
}

.container-lg > h1:first-child {
  display: none !important;
}

.site-name {
  display: none;
}

.site-title {
  display: none;
}

.site-title, .masthead__menu-item--lg {
    display: none !important;
}

header.Header {
  display: none;
}